<section class="section mt-20 relative">
  <div class="container">
    <div class="row">
      <div
        class="xl:col-6 flex justify-center items-center relative"
        data-aos="fade-right"
      >
        <div
          class="absolute top-0 left-10 w-32 h-32 bg-redish rounded-full blur-3xl opacity-40"
        ></div>
        <img src="images/about-image.png" alt="company" />
      </div>
      <div class="lg:col-6 mx-auto xl:mx-0 mt-10 xl:mt-0" data-aos="fade-left">
        <h2 class="text-h2-sm mb-6">Why Choose Us</h2>
        <p>
          Professional advisor to help your business Amet minim mollit non
          deserunt ullamco est sit aliqua dolor do amet sint. Velit officia
          consequat.
        </p>

        <div class="mt-10">
          <!-- 1 -->
          <div class="row gx-0 mb-8">
            <div class="col-2 pt-1">
              <div class="w-12 h-12 border border-border rounded-full">
                <img
                  src="images/fast.png"
                  alt="fast"
                  class="w-12 h-12 translate-x-0.5 translate-y-0.5"
                />
              </div>
            </div>
            <div class="col-10 sm:-ml-6">
              <h5 class="mb-3">Super Fast Working Process</h5>
              <p>
                Professional advisor to help your business Amet minim mollit non
                deserunt ullamco est sit aliqua dolor do amet sint.
              </p>
            </div>
          </div>
          <!-- 2 -->
          <div class="row gx-0 mb-8">
            <div class="col-2 pt-1">
              <div class="w-12 h-12 border border-border rounded-full">
                <img
                  src="images/247.png"
                  alt="fast"
                  class="w-12 h-12 translate-x-0.5 translate-y-0.5"
                />
              </div>
            </div>
            <div class="col-10 sm:-ml-6">
              <h5 class="mb-3">24/7 Hours Support</h5>
              <p>
                Professional advisor to help your business Amet minim mollit non
                deserunt ullamco est sit aliqua dolor do amet sint.
              </p>
            </div>
          </div>
          <!-- 3 -->
          <div class="row gx-0 mb-8">
            <div class="col-2 pt-1">
              <div class="w-12 h-12 border border-border rounded-full">
                <img
                  src="images/team.png"
                  alt="fast"
                  class="w-12 h-12 translate-x-0.5 translate-y-0.5"
                />
              </div>
            </div>
            <div class="col-10 sm:-ml-6">
              <h5 class="mb-3">Dedicated Team</h5>
              <p>
                Professional advisor to help your business Amet minim mollit non
                deserunt ullamco est sit aliqua dolor do amet sint.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <svg
    class="absolute bottom-0 left-0 z-[-10]"
    width="2000"
    height="795"
    viewBox="0 0 2000 795"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M1153.21 72.9873C1241.32 -136.062 1420.13 169.607 2000 177.512V795H0V294.335C72.5615 357.577 236.689 450.683 312.705 317.172C407.726 150.284 507.93 45.7588 668.602 111.636C829.274 177.513 1065.1 282.037 1153.21 72.9873Z"
      fill="#FCFAFE"
    />
  </svg>
</section>
