<section class="section">
  <div class="container">
    <div class="section-header mb-3" data-aos="fade-up">
      <h2>Client Say About Us</h2>
      <p>
        Professional advisor to help your business Amet minim mollit non
        deserunt ullamco est sit aliqua dolor do amet sint. Velit officia
        consequat.
      </p>
    </div>
    <div class="swiper testimonial-slider" data-aos="fade-up">
      <div
        class="testimonial-slider-pagination flex items-center justify-center text-center gap-2"
      ></div>
      <div class="swiper-wrapper">
        <!-- slide 1-->
        <div class="swiper-slide">
          @@include('components/testimonial-card.html')
        </div>
        <!-- slide 2-->
        <div class="swiper-slide">
          @@include('components/testimonial-card.html')
        </div>
      </div>
    </div>
  </div>
</section>
