<div class="flex flex-col justify-center items-center group">
  <div
    class="h-[250px w-[250px] rounded-full overflow-hidden border flex justify-center items-center shadow-inner group-hover:shadow-[inset_0_4px_10px_theme(colors.primary),inset_0_-4px_10px_theme(colors.primary),inset_4px_0_10px_theme(colors.primary),inset_-4px_0_10px_theme(colors.primary)] transition-shadow duration-300 p-3 mb-3"
  >
    <img src="@@userImage" alt="member" class="w-full h-full" />
  </div>
  <h5 class="mb-3">@@name</h5>
  <p>@@position</p>
  <ul class="mt-5 flex gap-4">
    <li>
      <a
        href="https://facebook.com"
        target="_blank"
        class="w-8 h-8 flex justify-center items-center bg-theme-light/20 group-hover:bg-primary/20 group-hover:text-primary transition duration-300 hover:bg-primary hover:text-light rounded-full"
      >
        <i class="fa-brands fa-facebook-f"></i>
      </a>
    </li>
    <li>
      <a
        href="https://twitter.com"
        target="_blank"
        class="w-8 h-8 flex justify-center items-center bg-theme-light/20 group-hover:bg-primary/20 group-hover:text-primary transition duration-300 hover:bg-primary hover:text-light rounded-full"
      >
        <i class="fa-brands fa-twitter"></i>
      </a>
    </li>
    <li>
      <a
        href="https://instagram.com"
        target="_blank"
        class="w-8 h-8 flex justify-center items-center bg-theme-light/20 group-hover:bg-primary/20 group-hover:text-primary transition duration-300 hover:bg-primary hover:text-light rounded-full"
      >
        <i class="fa-brands fa-instagram"></i>
      </a>
    </li>
  </ul>
</div>
