<div class="relative animate-section">
  <div
    class="flex flex-col items-center justify-center bg-light px-8 py-16 shadow-xl rounded-md hover:bg-primary group transition duration-300"
  >
    <svg
      class="mb-7"
      width="63"
      height="63"
      viewBox="0 0 63 63"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <rect
        x="0.907895"
        y="0.889828"
        width="57.1842"
        height="57.1842"
        rx="28.5921"
        class="stroke-primary group-hover:stroke-light"
        stroke-width="0.815789"
      />
      <rect
        x="4.49997"
        y="4.48193"
        width="58"
        height="58"
        rx="29"
        class="fill-primary group-hover:fill-light"
      />
      <path
        d="M33.8638 33.7547C36.5906 33.7547 38.8011 31.5442 38.8011 28.8174C38.8011 26.0906 36.5906 23.8801 33.8638 23.8801C31.137 23.8801 28.9265 26.0906 28.9265 28.8174C28.9265 31.5442 31.137 33.7547 33.8638 33.7547Z"
        class="fill-primary"
      />
      <path
        d="M33.8638 36.2234C28.9166 36.2234 24.8878 39.5412 24.8878 43.6293C24.8878 43.9058 25.1051 44.123 25.3815 44.123H42.346C42.6225 44.123 42.8398 43.9058 42.8398 43.6293C42.8398 39.5412 38.8109 36.2234 33.8638 36.2234Z"
        class="fill-primary"
      />
      <path
        d="M33.8638 33.7546C36.8178 33.7546 39.2125 31.3599 39.2125 28.4058C39.2125 25.4518 36.8178 23.0571 33.8638 23.0571C30.9097 23.0571 28.515 25.4518 28.515 28.4058C28.515 31.3599 30.9097 33.7546 33.8638 33.7546Z"
        class="fill-light group-hover:fill-primary"
      />
      <path
        d="M33.8638 36.429C28.5044 36.429 24.1398 40.0233 24.1398 44.452C24.1398 44.7516 24.3751 44.9869 24.6747 44.9869H43.0529C43.3524 44.9869 43.5877 44.7516 43.5877 44.452C43.5877 40.0233 39.2232 36.429 33.8638 36.429Z"
        class="fill-light group-hover:fill-primary"
      />
    </svg>
    <h6 class="mb-2 group-hover:text-light">@@name</h6>
    <span class="inline-block mb-5 group-hover:text-light">@@client</span>
    <p class="text-center mb-8 group-hover:text-light">
      Nulla Lorem mollit cupidatat irure. Laborum magna nulla duis ullamco
      cillum dolor.
    </p>
    <h2 class="mb-8 group-hover:text-light">
      $<b class="price">@@price</b><span class="text-base">/mo</span>
    </h2>
    <a
      href="register.html"
      class="btn btn-outline-primary btn-lg w-full mb-10 bg-light group-hover:border-light flex justify-center items-center"
    >
      Get Started
    </a>
    <div class="flex justify-start w-full">
      <ul class="flex flex-col gap-3">
        <li class="group-hover:text-light @@featureOneText">
          <i
            class="fa-solid fa-circle-check group-hover:text-light mr-3 @@featureOneIcon"
          ></i>
          SEO Audits.
        </li>
        <li class="group-hover:text-light @@featureTwoText">
          <i
            class="fa-solid fa-circle-check group-hover:text-light mr-3 @@featureTwoIcon"
          ></i>
          SEO Management.
        </li>
        <li class="group-hover:text-light @@featureThreeText">
          <i
            class="fa-solid fa-circle-check group-hover:text-light mr-3 @@featureThreeIcon"
          ></i>
          SEO Copywriting.
        </li>
        <li class="group-hover:text-light @@featureFourText">
          <i
            class="fa-solid fa-circle-check group-hover:text-light mr-3 @@featureFourIcon"
          ></i>
          Link Building.
        </li>
        <li class="group-hover:text-light @@featureFiveText">
          <i
            class="fa-solid fa-circle-check group-hover:text-light mr-3 @@featureFiveIcon"
          ></i>
          Site Migration.
        </li>
      </ul>
    </div>
  </div>
  <svg
    class="absolute -top-10 -left-2 z-[-1] hidden md:block"
    width="380"
    height="780"
    viewBox="0 0 380 780"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M0.456613 50.6527C0.456613 49.0611 1.62767 47.712 3.2035 47.4882L333.898 0.525705C335.822 0.252371 337.543 1.74621 337.543 3.69025V775.829C337.543 777.594 336.112 779.025 334.347 779.025H3.6529C1.88763 779.025 0.456613 777.594 0.456613 775.829V50.6527Z"
      stroke="#230C33"
      stroke-width="0.913227"
      fill="transparent"
      stroke-dasharray="2500"
      stroke-dashoffset="2500"
      class="animated-price-path"
    />
  </svg>
</div>
