<div class="row py-10 justify-between">
  <div class="md:col-6 relative">
    <!-- blur effect -->
    <div
      class="absolute top-10 left-20 w-32 h-32 bg-redish rounded-full blur-3xl opacity-20"
    ></div>

    <img src="images/client-1.png" alt="" />
    <!-- blur effect -->
    <div
      class="absolute bottom-10 right-0 w-32 h-32 bg-redish rounded-full blur-3xl opacity-20"
    ></div>
  </div>
  <div class="md:col-6 lg:col-5 mt-16 md:mt-8">
    <div class="relative pb-14 border-dashed border-b border-dark">
      <img src="images/quote.png" alt="quote" class="absolute -top-10 left-0" />
      <p class="font-medium text-dark text-xl leading-8 italic">
        Professional harum quidem rerum facilis est et expedita distinctio. Nam
        libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit
        quo minus id quod maxime placeat facere possimus, omnis voluptas
        assumenda est, omnis dolor repellendus. Temporibus autem quibusdam.
      </p>
    </div>
    <div class="mt-14">
      <h6 class="mb-1">Albert Flores</h6>
      <span class="inline-block mb-3">UI Designer Google</span>
      <img src="images/star.png" alt="star" />
      <div class="flex justify-end gap-5 mt-6">
        <button
          class="swiper-button-custom-prev w-10 h-10 rounded-full bg-transparent border border-border hover:bg-primary hover:text-light hover:border-primary transition duration-300"
        >
          <i class="fa fa-angle-left text-xl"></i>
        </button>
        <button
          class="swiper-button-custom-next w-10 h-10 rounded-full bg-transparent border border-border hover:bg-primary hover:text-light hover:border-primary transition duration-300"
        >
          <i class="fa fa-angle-right text-xl"></i>
        </button>
      </div>
    </div>
  </div>
</div>
